/* benchmark page basic css */
.header {
  display: flex;
  justify-content: space-between;
}

#question {
  color: white;
}

.btn {
  color: purple;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.hidden {
  display: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdownContainer {
  height: 300px;
  width: 300px;
}

.circle-container {
  background-color: white;
  opacity: 0.5;
  /* border: 10px solid pink; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 6;
}

.semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
}

.semicircle:nth-child(1) {
  background-color: #00ffff;
  z-index: 1;
}
.semicircle:nth-child(2) {
  background-color: #00ffff;
  z-index: 2;
}
.semicircle:nth-child(3) {
  z-index: 4;
  display: none;
}

.outermost-circle {
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 5;
}

.timer-container {
  width: 150px;
  height: 150px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  color: white;
}

.timer {
  width: 300px;
  height: 75px;
  z-index: 7;
  flex-direction: column;
}
#secondsRemaining {
  font-size: 50px;
}

/* review page css*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  padding: 200px;
  padding: 200px 0;
  opacity: 0.6;
  transition: 0.3s;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  position: absolute;
  top: 30px;
}
p {
  position: absolute;
  top: 90px;
}
#para {
  font-family: sans-serif;
  position: absolute;
  bottom: 50px;
}
ol {
  display: flex;
  list-style: none;
  position: absolute;
  padding: 50px o;
}
ol li {
  margin: 0 15px;
}
li a {
  font-size: 25px;
  color: #561e6e;
}
.review-page {
  color: white;
}

#myBtn {
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 40%;
}
#paragraph {
  position: absolute;
  top: 230px;
}
#textarea {
  position: absolute;
  top: 270px;
}
