/*welcome page css*/
body,
html {
  height: 100%;
  position: relative;
  user-select: none;
  margin: 0;
  background-image: url(/assets/bg.jpg);
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.logo {
  position: absolute;
  top: 3%;
  left: 14%;
}

.heading1 {
  position: absolute;
  top: 10%;
  left: 14%;
  color: #e7e7eb;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-size: 3vh;
}

.heading2 {
  position: absolute;
  top: 12%;
  left: 14%;
  color: #e7e7eb;
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-size: 5vh;
}

.instructions h3 {
  position: absolute;
  top: 34%;
  left: 14%;
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #c2128d;
}

.instructions p {
  position: absolute;
  top: 40%;
  left: 14%;
  font-size: 1.8vh;
  font-family: "Inter", sans-serif;
  color: #e7e7eb;
}

.instructions ul {
  position: absolute;
  top: 48%;
  left: 14%;
  font-size: 1.8vh;
  font-family: "Inter", sans-serif;
  color: #e7e7eb;
  margin-right: 10vw;
}

span {
  font-weight: bold;
}

.checkbox label {
  position: absolute;
  color: #e7e7eb;
  left: 16%;
  bottom: 15%;
  font-size: 1.8vh;
  font-family: "Inter", sans-serif;
  margin-right: 32vw;
}

input.check-box {
  position: absolute;
  background-color: #0b113b;
  left: 14%;
  bottom: 15%;
  width: 2vh;
  height: 2vh;
  border: solid #e7e7eb;
  cursor: pointer;
}

.proceed {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #41ffff;
  text-align: center;
  font-size: 2.5vh;
  padding: 2% 4%;
  bottom: 12%;
  right: 7%;
  border-color: #41ffff;
  color: #0b113b;
  background: #41ffff;
  box-shadow: 0 0 4vh #41ffff;
  cursor: pointer;
}

/* benchmark page basic css */
.header {
  display: flex;
  justify-content: space-between;
}

#benchmarkContainer {
  margin-top: 200px;
}

#question {
  color: white;
}

.btn {
  color: purple;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.hidden {
  display: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* timer css*/

.timer-container {
  font-family: sans-serif;
  display: grid;
  height: 10vh;
  place-items: center;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: white;
  opacity: 20%;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.purple {
  color: #c2128d;
}

.base-timer__path-remaining.turquoise {
  color: #41ffff;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

/* review page css*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  padding: 200px;
  padding: 200px 0;
  opacity: 0.6;
  transition: 0.3s;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  position: absolute;
  top: 30px;
}
p {
  position: absolute;
  top: 90px;
}
#para {
  font-family: sans-serif;
  position: absolute;
  bottom: 50px;
}
ol {
  display: flex;
  list-style: none;
  position: absolute;
  padding: 50px o;
}
ol li {
  margin: 0 15px;
}
li a {
  font-size: 25px;
  color: #561e6e;
}
.review-page {
  color: white;
}

#myBtn {
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 40%;
}
#paragraph {
  position: absolute;
  top: 230px;
}
#textarea {
  position: absolute;
  top: 270px;
}
